.search-container {
  height: 85vh;
  width: 100vw;
  height: 85vh;
  z-index: 999;
  position: relative;
}

.search-section-left {
  min-width: 50vw;
}

.search-message {
  max-width: 400px;
  margin-left: 90px;
}

.statement {
  margin: 90px 0 20px;
  font-size: 60px;
  line-height: 66px;
  font-weight: $PoppinsBold;
}

.statement-call {
  font-size: 19px;
  font-weight: $Poppins;
}

.search-input {
  -o-text-overflow: ellipsis;
  width: 375px;
  height: 60px;
  border: none;
  font-weight: $Poppins;
  font-size: $DefautFont;
  line-height: 40px;
  color: $FamousGrey;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-box {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 400px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  margin: 20px 0 0 90px;
}

.place-icon {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: $FamousYellow;
  padding: 0 10px;
  font-size: 35px;
}
