.line-walthrough {
  padding: 60px 90px 0;
  border-bottom: 1px solid #4e4747;
}

.line-section {
  width: 200px;
}

.line-title {
  width: 100%;
  font-weight: $PoppinsBold;
  font-size: $DefautFont;
  text-align: center;
  line-height: 40px;
  color: $FamousGrey;
  text-transform: uppercase;
}

.line-image {
  width: 70%;
}

.line-statement-head {
  font-weight: $Poppins;
  font-size: 54px;
  line-height: 54px;
  color: #000;
}

.line-statement-toe {
  font-weight: $Poppins;
  font-size: 44px;
  line-height: 54px;
  color: #eca531;
  text-transform: lowercase;
}

.product-line-wrapper {
}

.line-statement {
  align-self: center;
}