.header-container {
  background: black;
  height: 15vh;
  padding: 0 90px;
}

.header-logo {
  width: 272px;
  height: 92px;
}

.header-login-button {
  @extend %opacity-effect !optional;
  font-weight: $Poppins;
  text-transform: uppercase;
  color: #fcd500;
  height: 40px;
  width: 80px;
  border: 2px solid #fcd500;
  border-radius: 5px;
  background: transparent;
  font-size: 12px;
}


