.order-walthrough {
  background: #ececec;
  padding: 60px 70px;
  position: relative;
  z-index: 1000;
}

.order-image {
  height: 115px;
  margin: 0 auto;
  width: 100%;
}

.order-title {
  font-family: $PoppinsBold;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 900;
  line-height: 26px;
  color: #333;
  padding-top: 10px;
}

.order-subtitle {
  font-family: $Poppins;
  font-size: $DefautFont;
  line-height: 20px;
  color: $FamousGrey;
}

.order-section {
  width: 27%;
  text-align: center;
}
