// UNCOMMENT THE STYLING FOR #map .map-container TO HAVE THE FAMOUSYELLOW BG

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/*Material Icons*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Variables */
$Poppins: 400;
$PoppinsBold: 800;
$FamousYellow: #fcd600;
$FamousGrey: #888;
$DefautFont: 16px;
$RoundThatBorderButDontGoCrazy: 1px;
$AlmostWhiteButMoreLikeGrey: #f8f8f8;

/* Media */
$desktopS: "(min-width: 1024px) and (max-width: 1280px)";
$desktopM: "(min-width: 1280px) and (max-width: 1440px)";
$desktopL: "(min-width: 1441px)";

/* Global changes */
* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  border: 0;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
  // Disabled selection for visualization purposes.
  // Not a good  UX for larger applications.
  user-select: none;
}

.app {
  font-size: 17px;
  font-family: 'Poppins', Arial, sans-serif;
  line-height: 22px;
  margin: 0 auto;
  position: relative;
}

/* Commons */
%opacity-effect {
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/* Distribuition */
.go-flex {
  display: flex;
}

.set-vert {
  flex-direction: column;
}

.set-align-base {
  align-items: baseline;
}

.set-align-center {
  align-items: center;
}

.set-align-end {
  align-items: flex-end;
}

.set-just-center {
  justify-content: center;
}

.set-just-end {
  justify-content: flex-end;
}

.set-just-between {
  justify-content: space-between;
}

.set-just-around {
  justify-content: space-around;
}

.set-self-center {
  align-self: center;
}

.set-self-end {
  align-self: flex-end;
}

.cut-default {
  margin: 0px;
  padding: 0px;
}

/* Animations */
@keyframes slide_from_top {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.loader {
  color: #fcd501;
  font-size: 60px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: load6 1s infinite ease, round 1s infinite ease;
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Components root style; */
@import './components/style';
